.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    border-radius: 18px;
    overflow: hidden;
    width: 200px;
    height: 30px;
    position: relative;
    color: var(--spaceapp-grey);
    background-color: #d9d9d9;

}

.switch-tab {
    flex: 1;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
        /* Add color transition */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-tab.active {
    background-color: white;
    color: var(--spaceapp-green);
    border-bottom: 1px solid var(--spaceapp-green);
}

.switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
   width: 50%;
    background-color: white;
    transition: transform 0.3s ease;
    z-index: -1;
        /* Ensure the slider is positioned behind the text */
}

.switch-slider.unread {
    transform: translateX(100%);
}