:root {
  --navbar-bg: hwb(205 50% 2%);
  --spaceapp-bg: #f1f9ff;
  --spaceapp-pink: #ff3b76;
  --spaceapp-green: #006a67;
  --spaceapp-grey: #807f7f;
}

.inter-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-small {
  font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}


/* Navbar Horizontal */
nav {
  height: 80px;
  background-color: var(--navbar-bg);
  width: 100%;
  color: white;
}

.nav-items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  /* display items horizontally */
}

.logo img,
.profile img {
  height: 50px;
  border-radius: 50px;
}

.logo img {
  height: 80px;
}

.nav form {
  padding: 1rem;
  width: 550px;
  color: var(--navbar-bg);
}

.form-control {
  border: 1px solid var(--navbar-bg);
  border-radius: 15px;
}

.right span {
  padding-right: 1rem;
}

.profile img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dd-items {
  position: absolute;
  background-color: var(--navbar-bg);
  color: white;
  min-width: 160px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid white;
  list-style-type: none;
  margin: 0;
}

.dd-items li:hover {
  background-color: var(--spaceapp-bg);
  color: var(--spaceapp-green);
}
/* SideNav */
.sidebar {
  height: 100vh;
  /* Full height */
  width: 250px;
  /* Width of sidebar */
  position: absolute;
  /* Fixed position */
  top: 0;
  left: 0;
  background-color: var(--spaceapp-bg);
  /* Sidebar background color */
  padding-left: 2rem;
  padding-top: 4rem;
  margin-top: 80px;
 
}

.sidebar h4 {
  color: var(--spaceapp-green);
  font-size: 20px;
  padding-top: 1rem;
}

/* Style for sidebar links */
.sidebar a {
  display: block;
  text-decoration: none;
  color: var(--spaceapp-grey);
  line-height: 1.5em;
  font-size: 18px;
}

.sidebar a:hover {
  color: var(--spaceapp-green);
}


/* Standard Measurements for each page */
.categories {
  display: flex;
  background-color: var(--spaceapp-bg);
  margin-left: 250px;
}

.middle {
  flex: 4;
  padding-top: 2rem;
}

.cat {
  padding-top: 1rem;
  width: 80%;
  margin: 0 auto;

}

.cat h2, .fav h2, .viewed h2 {
  color: var(--spaceapp-green);
  font-size: 30px;
  padding: 1rem;
}
.icons {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    padding: 1rem;
    /* Adjust as needed */
}

.icons figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 1rem;
}

.icons figcaption {
  color: var(--spaceapp-grey);
  text-transform: capitalize;
  text-align: center;
    margin-bottom: 0;
    /* Remove any default margin */
 
  
}

.fav{
 padding: 1rem;
} 

.favs img, .viewed img  {
  height: 180px;
  width: 250px;
  padding: 1rem;
  border-radius: 32px;
}

.favs, .most-viewed {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    /* Adjust as needed */
}

.end {
  flex: 1;
  padding: 1rem;
  
}

.end-inner {
display: flex;
  flex-direction: column;
  padding: 1rem;
}

.end h5 {
  color: var(--spaceapp-green);
}

.end .feed {
  display: flex;
  flex-direction: row;
}

.feed figcaption {
  padding: 1rem;
  padding-bottom: 0;
}

.end .feed img {
  height: 40px;
    border-radius: 50px;
    width: 40px;
}

.end button {
  background-color: var(--navbar-bg);
  color: var(--spaceapp-bg);
  border-radius: 10px;
  border: 1px solid var(--navbar-bg);
  width: 140px;
  margin-left: 0;
  opacity: 1;
}

.end button:hover {
  color: var(--navbar-bg);
  background-color: var(--spaceapp-bg);

}

.end .f {
  height: 180px;
    width: 250px;
    border-radius: 10px;
    
}

.end .ann {
  color:var(--spaceapp-grey);
  font-size: 14px;
  padding: 1rem;
  padding-bottom: 0;
}

.end form {
  padding-top: 1rem;
}

.end form label {
  color: var(--spaceapp-grey);
  font-size: 16px;
  padding-bottom: 0;
}