:root {
  --navbar-bg: hwb(205 50% 2%);
  --spaceapp-bg: #f1f9ff;
  --spaceapp-pink: #ff3b76;
  --spaceapp-green: #006a67;
  --spaceapp-grey: #807f7f;
  --border-one: rgba(120, 191, 240, 0.1);
  --border: rgba(120, 191, 240, 0.36);
  --box-shadow-one: 5px 5px 10px rgba(120, 191, 240, 0.20);
  --box-shadow: 5px 5px 10px rgba(120, 191, 240, 0.30);
  --box-shadow-opp: -5px 5px 10px rgba(120, 191, 240, 0.30);
}

.inter-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-small {
  font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.App {
  background-color: var(--spaceapp-bg);
}

/* Navbar Horizontal */
nav {
  height: 80px;
  background-color: var(--navbar-bg);
  width: 100%;
  color: white;
}

.nav-items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  /* display items horizontally */
}

.logo img,
.profile img {
  height: 60px;
  border-radius: 50px;
}

.logo img {
  height: 80px;
}

.nav form {
  padding: 1rem;
  width: 550px;
  color: var(--navbar-bg);
}

.form-control {
  border: 1px solid var(--navbar-bg);
  border-radius: 15px;
}

.right span {
  padding-right: 1rem;
}

.profile img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dd-items {
  position: absolute;
  background-color: var(--navbar-bg);
  color: white;
  min-width: 160px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid white;
  list-style-type: none;
  margin: 0;
}

.dd-items li:hover {
  background-color: var(--spaceapp-bg);
  color: var(--spaceapp-green);
}
/* SideNav */
.sidebar {
  width: 250px;
  /* Width of sidebar */
  position: absolute;
  /* Fixed position */
  top: 0;
  left: 0;
  background-color: var(--spaceapp-bg);
  /* Sidebar background color */
  padding-left: 2rem;
  padding-top: 4rem;
  margin-top: 80px;
  padding-bottom: 10rem;
  box-shadow: var(--box-shadow);
  border-bottom-right-radius: 7.5px;
 
}

.sidebar h4 {
  color: var(--spaceapp-green);
  font-size: 20px;
  padding-top: 1rem;
}

/* Style for sidebar links */
.sidebar a {
  display: block;
  text-decoration: none;
  color: var(--spaceapp-grey);
  line-height: 1.5em;
  font-size: 18px;
}

.sidebar a:hover {
  color: var(--spaceapp-green);
}

.sidebar .submenu {
  font-size: 18px;
  margin-left: 3rem;
}

/* Standard Measurements for each page */
.categories, .mobile, .messages, .space-page,
.beauty {
  display: flex;
  background-color: var(--spaceapp-bg);
  margin-left: 250px;
}

.middle, .post, .inbox, .space-page-inner,
.beauty-section {
  flex: 4;
  padding-top: 2rem;
}

.cat {
  padding-top: 1rem;
  width: 80%;
  margin: 0 auto;
   

}

.middle h2 {
  color: var(--spaceapp-green);
  padding: 1rem;
  margin-left: 5rem;
}


.icons {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    padding: 1rem;
    padding-bottom: 0;
    /* Adjust as needed */
    border-radius: 8px;
    border: 1px solid var(--border-one);
      box-shadow: var(--box-shadow-one);
}

.icons figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 0.5rem;
}

.icons figcaption {
  color: var(--spaceapp-grey);
  text-transform: capitalize;
  text-align: center;
    margin-bottom: 0;
    /* Remove any default margin */
 
  
}

.cat a {
  text-decoration: none;
}

.cat a:hover {
  transform: translateY(-2px);
    /* Slight lift on hover */
    box-shadow: 5px 5px 10px 0 rgba(255, 59, 118, 0.3);
}

.fav, .viewed{
 padding: 1rem;
 margin: 0 auto;
 
} 

.favs {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.favs img, .viewed img  {
  height: 180px;
  width: 250px;
    object-fit: cover;
  padding: 1rem;
  border-radius: 32px;
}

 .viewed h3 {
  padding: 1rem;
  color: var(--spaceapp-green);
}

.viewed h6 {
  color: var(--spaceapp-green);
  padding-top: 1rem;
  margin-top: 1rem;
}

.explore {
      display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        /* Two columns with equal width */
        justify-content: space-around;
        /* Smaller gap */
        grid-gap: 0;
        width: 80%;
        margin: 0 auto;
}

.explore-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-one);
  border-radius: 10px;
  margin: 1rem;
  padding-top: 0;
  width: 310px;
  box-shadow: var(--box-shadow);
}

.explore-card .top-card {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.top-card .tag {
  height: 85px;
  width: 85px;
  border-radius: 50px;
  margin: 0;
}

.image-part img {
  border-radius: 0;
  width: 100%;
  height: 200px;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

.explore .rating {
  margin: 1rem;
}

.end, .space-end {
  flex: 1;
  padding: 1rem;
  box-shadow: var(--box-shadow-opp);
  
}


.end-inner {
display: flex;
  flex-direction: column;
  padding: 1rem;
}

.endd h5 {
  color: var(--spaceapp-green);
}

.endd .feed {
  display: flex;
  flex-direction: row;
}

.endd .feed figcaption {
  padding: 1rem;
  padding-bottom: 0;
}

.endd .feed img {
  height: 40px;
    border-radius: 50px;
    width: 40px;
    object-fit: cover;
}

.endd button {
  background-color: var(--navbar-bg);
  color: var(--spaceapp-bg);
  border-radius: 10px;
  border: 1px solid var(--navbar-bg);
  width: 140px;
  margin-left: 0;
  opacity: 1;
}

.endd button:hover {
  color: var(--navbar-bg);
  background-color: var(--spaceapp-bg);

}

.endd .f {
  height: 180px;
    width: 250px;
    border-radius: 10px;
    
}

.endd .ann {
  color:var(--spaceapp-grey);
  font-size: 14px;
  padding: 1rem;
  padding-bottom: 0;
}

.endd form {
  padding-top: 1rem;
}

.endd form label {
  color: var(--spaceapp-grey);
  font-size: 16px;
  padding-bottom: 0;
}

/* Mobile */
.mobile legend {
  color: var(--spaceapp-green);
  padding: 0.5rem;
  font-size: 30px;
  margin-left: 3rem;
}

.mobile form{
  padding-right: 7rem;
  padding-left: 5rem;
}

.mobile .form-control {
  border-radius: 10px;
  border:1px solid var(--spaceapp-green);

}

.mobile input, .mobile select {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.mobile label {
  color: var(--spaceapp-grey);
  padding: 0.5rem;
  font-size: 18px;
}

.mobile .space-end form {
  padding: 0;
  padding-top: 1rem;
}

.mobile .bottom {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.mobile .bottom-inner {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
    align-items: center;
    padding: 1rem;
    
}

.mobile .add-photo {
  color: var(--spaceapp-grey);
  padding: 1rem;

}

.mobile .add-photo h6 {
  color: var(--spaceapp-grey);
}

.mobile .post-space {
  width: 30%;
  border-radius: 5px;
  padding: 0.5rem;
 margin-bottom: 5rem;
 
}

.mobile .bottom button {
  border: 1px solid var(--navbar-bg);
  color: var(--spaceapp-bg);
    background-color: var(--navbar-bg);
    opacity: 1;
}

.mobile .bottom button:hover {
  background-color: var(--spaceapp-bg);
  color: var(--navbar-bg);

}

/* Messages */
.messages {
  display: flex;
  padding: 1rem;
}

.chat-preview {
  flex: 3;
  box-shadow: var(--box-shadow-one);
  padding-right: 1rem
}

.switch {
  padding: 1px;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.chat-preview h5 {
  padding: 1rem;
  color: var(--spaceapp-green);
 
}

.chat-preview li {
  list-style-type: none;
  border-bottom: 1px solid #f4ebca;
  margin: 0;
  padding: 0;
}
.chat-preview span {
  padding: 1rem;
  margin: 1rem;


}
 


.text-preview h6 {
  padding-left: 0.9rem;
  color: var(--spaceapp-green);
  margin-top: -2px;
  padding-top: -2px;
}

.text-preview h2 {
  white-space: nowrap;
  font-size: 12px;
  color: var(--spaceapp-grey);
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 3px;
  margin-top: 3px;
}

.message-preview {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  
}

.text-preview {
  display: flex;
  justify-content: space-between;
  padding-top: 0.2rem;
  margin-top:0;
}

.time-stamp {
  margin-bottom: 0;
}

 .notif {
  display: flex;
  justify-content: space-between;

 }

.notif p {
  color: var(--spaceapp-grey);
  font-size: 13px;
  padding-left: 0.5rem;
  padding-bottom: 1px;
    margin-bottom: 1px;
    opacity: 0.9;
  
}

.profile-photo img, .sender-name img {
  height: 48px;
  width: 48px;
  border-radius: 50px;
}

.notif .unread {
  color: var(--spaceapp-bg)!important;
  background-color: var(--spaceapp-green);
  border-radius: 50px;
  text-align: center!important;
  font-size: 12px;
  margin: -3px;
  margin-left: 0;
  height: 18px;
  padding: 2px;
  width: 38px;
  
}




.chat-screen {
  flex: 4;
 margin: 2.5rem;
 
}

.sender-name {
  display: flex;
  flex-direction: row;
}

.sender-name h6 {
  color: var(--spaceapp-green);
  padding: 1rem;
}


/* Beauty */
.beauty h2, .beauty h6 {
  color: var(--spaceapp-green);
  margin: 1rem;
  padding-left: 1rem;
}

.beauty h6 {
  padding-left: 1.5rem;
}

.beauty ul li {
  list-style-type: none;
}

.beauty li {
  display: flex;
  flex-direction: row;
}

.beauty ul li img {
  max-width: 270px;
  height: 200px;
  padding: 1rem;
    border-radius: 32px;
}

.beauty .beauty-content {
  padding: 1rem;
}

.beauty-content {
  margin: 1rem;
}

.beauty-content h4 {
  color: var(--spaceapp-green);
}

.beauty-content p {
  color: var(--spaceapp-grey);
  padding-bottom: 0;
    
}

.beauty-content button {
  background-color: var(--navbar-bg);
  color: white;
  border: 1px solid var(--navbar-bg);
  border-radius: 1px;
  margin: 1px;
}

.beauty-content button:hover {
  color: var(--navbar-bg);
  background-color: white;

}